NET "RESET"    	    LOC = "p1";
NET "LATCH"    	    LOC = "p2";
NET "CLK"    		LOC = "p3";
NET "DATA"    		LOC = "p5";
NET "PATTERN"    	LOC = "p6";
NET "LED<0>"    	LOC = "p8";
NET "LED<1>"    	LOC = "p12";
NET "LED<2>"    	LOC = "p13";
NET "LED<3>"    	LOC = "p14";
NET "LED<4>"    	LOC = "p16";
NET "LED<5>"    	LOC = "p18";
NET "LED<6>"    	LOC = "p19";
NET "LED<7>"    	LOC = "p20";
NET "LED<8>"    	LOC = "p21";
NET "LED<9>"    	LOC = "p22";
NET "LED<10>"    	LOC = "p23";
NET "LED<11>"    	LOC = "p27";
NET "LED<12>"    	LOC = "p28";
NET "LED<13>"    	LOC = "p29";
NET "LED<14>"    	LOC = "p30";
NET "LED<15>"    	LOC = "p31";
NET "LED<16>"    	LOC = "p32";
NET "LED<17>"    	LOC = "p33";
NET "LED<18>"    	LOC = "p34";
NET "LED<19>"    	LOC = "p36";
NET "LED<20>"    	LOC = "p37";
# NET "LED<21>"    	LOC = "p38";
# NET "LED<22>"    	LOC = "p39";
# NET "LED<23>"    	LOC = "p40";
# NET "LED<24>"    	LOC = "p41";

