
LED_Controller/iseconfig/top.xreport

LED_Controller/top_build.xml

LED_Controller/top_envsettings.html

LED_Controller/top_ngdbuild.xrpt

LED_Controller/top_pad.csv

LED_Controller/top_xst.xrpt

LED_Controller/top.lso

LED_Controller/top.mfd

LED_Controller/top.nga

LED_Controller/top.ngc

LED_Controller/top.ngd

LED_Controller/top.ngr

LED_Controller/top.pad

LED_Controller/top.pnx

LED_Controller/top.prj

LED_Controller/top.rpt

LED_Controller/top.stx

LED_Controller/top.syr

LED_Controller/top.tim

LED_Controller/top.tspec

LED_Controller/top.vm6

LED_Controller/top.xml

LED_Controller/top.xst

LED_Controller/webtalk_pn.xml

LED_Controller/top.bld

LED_Controller/top.chk

LED_Controller/top.cmd_log

LED_Controller/top.cxt

LED_Controller/top.gyd

LED_Controller/top.jed

LED_Controller/top.log

LED_Controller/xst/

LED_Controller/xlnx_auto_0_xdb/

LED_Controller/top_html/

LED_Controller/_ngo/

LED_Controller/_xmsgs/ngdbuild.xmsgs

LED_Controller/_xmsgs/pn_parser.xmsgs

LED_Controller/_xmsgs/xst.xmsgs

Altium/LightBoard/History/

Altium/LightBoard/Project Logs for LightBoard/

Altium/LightBoard/__Previews/

Software/Arduino/Shifter/.vscode/

Software/HDL/LED_Controller/_xmsgs/

Altium/BlinkBoard/__Previews/

Altium/BlinkBoard/History/

Altium/BlinkBoard/Project Logs for BlinkBoard/

Altium/BlinkBoard/Project Logs for LightBoard/

*.log

.DS_Store
